<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuizWeb Blazor</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/site.css" />
    <HeadOutlet />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand" href="/">QuizWeb</a>
            <div class="navbar-collapse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item"><a class="nav-link text-dark" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="/manage">Manage</a></li>
                </ul>
            </div>
        </nav>

        <main role="main" class="pb-3">
            <Routes />
        </main>
    </div>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>