<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <p>Przykro mi, nie ma takiej strony (404).</p>
    </NotFound>
</Router>